/*  
    Add Fonts (pref: Google Fonts)  
    Coloring (The theme is soft gold / yellow for light mode) (Font: like dark gray, black, or deep navy)
    Dark Mode
*/

/* Global Styles */

:root {
    --background-color: #fff
}

/* Header */

.logo{
    display: flex;
    align-items: center;
    gap: 8px;
    position: relative;
    top: 10px;
    left: 10px;
}
.logo p{
    font-size: 30px;
}

.nav{
    display: flex;
    
    & li {
        list-style-type: none;
        float: left;
        padding: 10px;
        margin-top: 22px;
        margin-right: 10px;
        font-size: 1.2em;
    }
    & a {
        text-decoration: none;
    } & a:visited {
        color: inherit;
    }
}

/* Main / sections [Index / Homepage / Main page] */

.main-header{
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

.intro{
    text-align: center;
    margin-top: 10vh;
    margin-bottom: 10vh;
}

h1{
    font-size: 50px;
}

.central-flex{
    display: flex;
    justify-content: space-evenly;
    text-align: left;
}

.idk{
    margin: 20px;
    width: 1px;
    background-color: #000;
}
.projects{
    margin-left: 5%;
}
.reviews {
    margin-left: 5%;
}

/* Main / sections [Side pages] */

.projects-p{
    justify-content: center;
    text-align: center;
}
.reviews-p{
    text-align: center;
    justify-content: center;
}
.review-title-p{
    text-align: center;
}
.contact-p{
    text-align: center;
}

/* Footer */

.footer{
    text-align: center;
}

/* Media query */

